* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #14171a;
  font-size: 14px;
  line-height: 1.5;
}
.navbar {
  background-color: #1da1f2;
  border-bottom: 1px solid #e1e8ed;
  height: 53px;
  position: relative;
  z-index: 100;
}
.navbar-brand {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #fff;
}
.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 0.5rem 1rem;
}
.sidebar {
  font-size: 18px;
  width: 20%;
  position: fixed;
  background-color: #fff;
  border-right: 1px solid #e1e8ed;
  margin-left: -20px;

}